<?xml version="1.0" encoding="utf-8"?>

<!--
   Tint Browser for Android
  
   Copyright (C) 2012 - to infinity and beyond J. Devauchelle and contributors.
 
   This program is free software; you can redistribute it and/or
   modify it under the terms of the GNU General Public License
   version 3 as published by the Free Software Foundation.
 
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tint"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" />
    
    <permission android:name="org.tint.providers.bookmarksprovider.READ"
        android:label="@string/PermissionReadBookmarksLabel"
        android:description="@string/PermissionReadBookmarksDescription"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="dangerous" />
    
    <permission android:name="org.tint.providers.bookmarksprovider.WRITE"
        android:label="@string/PermissionWriteBookmarksLabel"
        android:description="@string/PermissionWriteBookmarksDescription"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="dangerous" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/ApplicationName"
        android:theme="@style/ApplicationTheme" 
        android:hardwareAccelerated="true">

        <activity
            android:label="@string/ApplicationName"
            android:name=".ui.activities.TintBrowserActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>
        </activity>

        <activity android:name=".ui.preferences.PreferencesActivity" android:label="@string/PreferencesActivityTitle"></activity>
        <activity android:name=".ui.activities.BookmarksActivity"></activity>
        <activity android:name=".ui.activities.EditBookmarkActivity" android:theme="@android:style/Theme.Holo.DialogWhenLarge"></activity>
        
        <provider android:name=".providers.BookmarksProvider"
            android:authorities="org.tint.providers.bookmarksprovider"
            android:readPermission="org.tint.providers.bookmarksprovider.READ"
            android:writePermission="org.tint.providers.bookmarksprovider.WRITE" />                  
        
    </application>

</manifest>